<% include header %>
<header class="Header">Contact details</header>
<div class="container-fluid center">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<a href="https://www.facebook.com/sonam.gadekari">
  <img src="images/facebook.png" alt="my picture" height="30" width="30" />
</a>
<a href="https://www.linkedin.com/in/sonam-gadekari-a0b10b139/">
  <img src="images/linkedin.png" alt="my picture" height="30" width="30" />
</a>
<a href="https://github.com/SonamGadkari">
<img src="images/Git.png" alt="my picture" height="30" width="30" />
</a>
<a href="https://bitbucket.org/S533490/">
<img src="images/bitbucket.png" alt="my picture" height="30" width="30" />
</a>
</div>
</div>
</div>
<div class="row center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<form  method="POST" action ="contact" name="Form1" onsubmit="alert('Thank you,Your response is recorded.We will get back to you soon..')" method="post">
<p class="set-font-contact"><strong>Any questions?<sup style="color:red">*</strong></p><br>
<textarea type="text" style="height:100px;width:300px" name="Question" placeholder="Enter your questions" pattern="[A-Za-z]+" required></textarea><br>
<p class="set-font-contact"><strong>First Name</strong><sup style="color:red">*</sup></p>
<input type="text"  name="FirstName" placeholder="Your first name.." pattern="[A-Za-z]+" required><br><br>
<p class="set-font-contact"><strong>Last Name</strong><sup style="color:red">*</sup></p>
<input type="text"  name="Lastname" placeholder="Your last name.." pattern="[A-Za-z]+" required><br><br>
<p class="set-font-contact"><strong>Email</strong><sup style="color:red">*</sup></p>
<input type="text"  name="Email" placeholder="Your email.." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required><br><br>
<p class="set-font-contact"><strong>Location</strong><sup style="color:red">*</sup></p>
<input type="text"  name="location" placeholder="Your location.." pattern="[A-Za-z]+" required><br><br>
<p class="set-font-contact"><strong>Gender</strong><sup style="color:red">*</sup></p>
<input type="radio" class="set-font" name="Male" value="Male" checked>Male<br>
<input type="radio" class="set-font" name="Female" value="Female">Female<br><br>
<button class="button-style" onclick="validateForm()">Submit</button>
<p id="demo"></p>
</form>
</div>
</div>
<script src="js/contact.js">
</script>
<% include footer %>