<% include header %>
<div>
<header class="Header"> Welcome!</header>
<main>   
	  <div class="row">		
	  <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">
          <div class="about-me">About me</div><br><br>
          <div class="set-font">Let me introduce myself. I'm Sonam Gadekari.I'm basically from India
		  and I am a current student at Northwest Missouri state university.</div>
      </div>
	  <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3">
	  <img class="rounded-circle" src="images/sonam.PNG" alt="Smiley face" width="200" height="200" >
	  </div>
	  </div>	 
	  <div id="past-section"> Background</div>	  
	  <div class="row">	
	  <div class="col-lg-9 col-md-9 col-xs-9">
			<div class="set-font">
			<p  class="set-font"> I did my undergraduation at KLUniversity,Guntur.Prior to Northwest,I worked for</p>
			<p  class="set-font"> Capgemini  & Syntel for 5 years. I have worked on Java development,Web applications,Mainframe and Database </p>
			<p> My hobbies are</p>
			<ul>
				<li class="hobbies">Travelling</li>
				<li class="hobbies">Playing Badminton</li>
				<li class="hobbies">Doing Yoga</li>
			</ul>
			</div>
	  </div>	  
	  <div class="col-lg-3 col-md-3 col-xs-3">
	  <iframe class="embd" src="https://www.youtube.com/embed/wxQR5kokq68?ecver=1">
	  </iframe>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<h1 id="future-section"> Future Persectives</h1>
			<br><br>
			<p class="set-font">  I want to rejoin Capgemini as a Business analyst.</p> 	
	  </div>
	  </div>
	</div>
	<footer id="footer">**** Sonam Gadekari ****</footer><br>
      <% include footer %>